.close, .open{
	width: 75px;
	height: 100px;
	padding-left:4px;	
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	display: inline-block;
	margin-left:10px;
}

.close {
	background-image: url(images/x.png);
	background-repeat: repeat;
}

.open {
	background-color: white;
	background-repeat: no-repeat;
}

.dealerCards {
	position: relative;
	top: 50px;
}

.playerCarWWWds {
	position: relative;
	top: -80px;
}

.playerCards {
	position: relative;
	top: -80px;
}

.Aopen:after {
	position: relative;
	content: "\2660";
}

.line{
	margin-top: -60px;
}

.spades {
	font-size:40px;
	overflow:hidden;
	position:relative;
	top:10px;
}

#dealerScore {
	visibility:hidden;
}
